{% extends 'base.html.twig' %}

{% block body %}
    <h1>Доска объявлений</h1>


    <a href="{{ path('ad_new') }}">
        <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить
        </button>
    </a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Theme</th>
                <th>Timecreated</th>
                <th>Timeupdated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td><a href="{{ path('ad_show', { 'id': ad.id }) }}">{{ ad.id }}</a></td>
                <td>{{ ad.title }}</td>
                <td>{{ ad.theme }}</td>
                <td>{% if ad.timeCreated %}{{ ad.timeCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if ad.timeUpdated %}{{ ad.timeUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ad_show', { 'id': ad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ad_edit', { 'id': ad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
